# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Project Specific
scraped_data.csv
deployment.tar
*.log
*.sqlite

# Docker / Data Volumes
postgres_data/
milvus_data/
etcd_data/
minio_data/
redis_data/
ollama_models/

