fastapi==0.109.2
uvicorn==0.27.1
pydantic==2.6.1
pydantic-settings==2.1.0
python-multipart==0.0.9
email-validator==2.1.0

# Database
psycopg2-binary==2.9.9
sqlalchemy==2.0.27
alembic==1.13.1
pymilvus==2.3.6
redis==5.0.1

# AI & LLM
langchain==0.1.7
langchain-community==0.0.20
langchain-core==0.1.23
sentence-transformers==2.3.1
transformers==4.37.2


# Image & PDF Processing
python-magic==0.4.27 
pillow==10.2.0
pytesseract==0.3.10
pypdf2==3.0.1
reportlab
deep-translator
langdetect
pytest
httpx
locust
prometheus-fastapi-instrumentator
pandas==2.2.0
openpyxl==3.1.2

# Web Scraping
scrapy==2.11.0
selenium==4.17.2
beautifulsoup4==4.12.3
requests==2.31.0

# Monitoring
prometheus-fastapi-instrumentator==6.1.0
